<div class="row">
  <div class="col-sm-4 form-inline" id="filter-form">
    <label>Show:</label>
    <select (change)="onChange($event.target.value)" class="form-control">
      <option value="all">All</option>
      <option value="more">Calories more than 500</option>
      <option value="less">Calories less than or equal 500</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-sm-7">
    <food-display *ngFor="#currentFood of foodList | calories:filterCalories"
      (click)="foodSelected(currentFood)"
      [class.selected]="currentFood === selectedFood"
      [food]="currentFood">
    </food-display>
  </div>

  <div class="col-sm-4 col-sm-offset-1">
    <div class="row">
      <new-food (onSubmitNewFood)="createFood($event)"></new-food>
    </div>

    <div class="row">
      <edit-food-info *ngIf="selectedFood" [food]="selectedFood"></edit-food-info>
    </div>
  </div>
</div>
