h1 {
  color: #D4A190;
  text-align: center;
}

.selected {
  color: blue;
}

.food-form {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
}

.food-form .row {
  margin-bottom: 10px;
}

.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#each-food-block {
  border-width: medium;
  border-radius: 8px;
  border-style: outset;
  border-color: gray;
  margin-right: 5px;
  margin-bottom: 5px;
}
