h1 {
  color: #D4A190;
}

.header {
  text-align: center;
}

.selected {
  color: blue;
}

.food-form .row {
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.food-form .header {
  background-color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
}

#filter-form {
  margin-bottom: 15px;
}

#each-food-block {
  border-width: thin;
  border-radius: 8px;
  border-style: outset;
  border-color: gray;
  margin-bottom: 5px;
}

#add-button {
  margin-top: 5px;
  float: right;
  border-color: green;
}
