#topHeader {
  color: #bf8040;
  text-align: center;
  background-color: #d6d6c2;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.header {
  text-align: center;
}

.selected #each-food-block {
  background-color: #ccf2ff;
}

.food-form .row {
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.food-form .header {
  background-color: #ffcc66;
  padding-top: 10px;
  padding-bottom: 10px;
}

#new-food-form input {
  margin-bottom: 5px;
}

#filter-form {
  margin-bottom: 10px;
  float: right;
}

#filter-form label {
  font-size: 18px;
}

#each-food-block {
  border-width: thin;
  border-radius: 8px;
  border-style: outset;
  border-color: gray;
  margin-bottom: 10px;
}

#add-button {
  margin-top: 5px;
  float: right;
  border-color: green;
}
